<div class="content-area" style="
position:relative;
height:10000px;
width: 10000px;
background-size: 40px 40px;
background-image: radial-gradient(circle, #707070 1px, rgba(0, 0, 0, 0) 1px);">
    <ng-template ngFor let-item [ngForOf]="elements$ | async" let-i="index" [ngForTrackBy]="trackElement">
        <ioa-element-factory #elFactory class="draggable" [element]="getElementById(item.elementId)">
        </ioa-element-factory>
    </ng-template>
</div>