<mat-grid-list cols="4" rowHeight="4rem" style="width: 500px">
  <form [formGroup]="changePasswordForm" (submit)="onChangePasswordFormSubmit()">
    <mat-grid-tile colspan="4">
      <mat-form-field class="w-100">
        <input formControlName="oldPassword" matInput type="password" placeholder="Old Password" value="" autocomplete="current-password">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="4">
      <mat-form-field class="w-100">
        <input formControlName="newPassword" matInput type="password" placeholder="New Password" value="" autocomplete="new-password">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="4">
      <mat-form-field class="w-100">
        <input formControlName="newConfirmPassword" matInput type="password" placeholder="Confirm Password" value=""
          autocomplete="new-password">
      </mat-form-field>
    </mat-grid-tile>
  </form>
  <mat-grid-tile colspan="2">
    <button mat-button type="button" (click)="onCancelClick()">Cancel</button>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <button mat-button type="button" (click)="onChangePasswordFormSubmit()">Apply</button>
  </mat-grid-tile>
</mat-grid-list>