<div class="fab-container">
  <button mat-fab class="fab-toggler" (click)="onToggleFab()">
    <i class="material-icons" [@fabToggler]="{value: fabTogglerState}">add</i> <!-- Animation here -->
  </button>
  <div *ngIf="fabTogglerState==='active'" [@speedDialStagger]="7">
    <!-- and here -->

    <ng-content></ng-content>
  </div>
</div>