.scrapbook-icon {
    // background: white;
    // padding: 3px;
    // border: 2px solid $sidenav-text-color;
    // border-radius: 50%;
}

ioa-scrapbook-overlay {
    .button-bar {
        position: absolute; // Absolute unit
        z-index: 100000000; // I'm in awe of the z-index of this lad
        display: flex;
        width: 100%;

        &.top {
            top: 0;

            .mat-button-toggle-group {
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
            }
        }
        &.bottom {
            bottom: 0;

            .mat-button-toggle-group {
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
            }

        }

        .center {
            margin: 0 auto;
        }

        .mat-button-toggle-group {
            background-color: white;
            margin-right: 1rem;
            &:last-of-type {
                margin-right: none;
            }
        }

    }
}
