<div class="button-bar top">
  <div class="center">
    <mat-button-toggle-group multiple>
      <mat-button-toggle>
        <mat-icon>format_bold</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle>
        <mat-icon>format_italic</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle>
        <mat-icon>format_underline</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle>
        <mat-icon>format_size</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>

    <mat-button-toggle-group multiple>
      <mat-button-toggle>
        <mat-icon>grid_on</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>

<div class="button-bar bottom">
  <div class="center">
    <mat-button-toggle-group [value]="mode$ | async" (change)="updateMode($event.value)">
      <mat-button-toggle matTooltip="Select" [value]="modes.SELECT">
        <mat-icon style="transform: scaleX(-1);">near_me</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle matTooltip="Move" [value]="modes.MOVE">
        <mat-icon>pan_tool</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle matTooltip="Textbox" [value]="modes.TEXTBOX">
        <mat-icon>font_download</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle matTooltip="Shape" [value]="modes.SHAPE">
        <mat-icon>change_history</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>