<!-- <mat-card class="mat-elevation-z12" style="margin-top: 1rem; max-width: 500px">
  <mat-card-content>
    <mat-icon svgIcon="logo-wide" style="width: 100%; height: 100px"></mat-icon>
  </mat-card-content>
</mat-card> -->

<mat-card class="mat-elevation-z12" style="max-width: 500px; margin: 1rem 0;">
  <mat-card-header>
    <mat-card-title *ngIf="cardTitle">
      <h2>{{cardTitle}}</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ioa-login-content (toggle)="onRegisterToggle()" [hidden]="contentType !== 'login'"></ioa-login-content>
    <ioa-register-content (toggle)="onRegisterToggle()" [hidden]="contentType !== 'register'"></ioa-register-content>
  </mat-card-content>
</mat-card>

<mat-card class="mat-elevation-z12" style="max-width: 500px">
  <mat-card-content>
    <button class="w-100 google-btn" (click)="onSignInWithGoogleClick()" mat-button>Continue with Google</button>
  </mat-card-content>
</mat-card>