
$sizing-percentages: 100, 75, 50, 25, 0;

@each $var in $sizing-percentages {
    .w-#{$var} {
        width: $var + 0%;
    }
    .h-#{$var} {
        height: $var + 0%;
    }
    .mw-#{$var} {
        max-width: $var + 0%;
    }
    .mh-#{$var} {
        max-height: $var + 0%;
    }
}