<div style="display: flex; margin: auto;  width: auto; height: -webkit-fill-available; background: rgb(26, 122, 200)">
  <ioa-login-panel style="width: 500px; margin: auto; padding: 1rem;" cardTitle="Sign in to continue.">
  </ioa-login-panel>
</div>
