
/*
BORDER
*/
$element-focus-border-color: lightgray;
$element-border-color: transparent;
$element-border-radius: 2px;
$element-border-width: 1px;
$element-border-dash: solid;

$element-border: $element-border-width $element-border-color $element-border-dash;
$element-focus-border: $element-border-width $element-focus-border-color $element-border-dash;

/*
BACKGROUND
*/
$element-background: transparent;
$element-focus-background: white;



/*
ANIMATIONS
*/
$element-onfocus-animation-time: 125ms;
$element-onfocus-animation: element-onfocus-fadein $element-onfocus-animation-time forwards;

@keyframes element-onfocus-fadein {
    to {
        border: $element-focus-border;
        background: $element-focus-background;
    }
}


/*
STYLES
*/
ioa-element-factory {
    animation-duration: 1s;
    animation-name: fadein;


    .element-wrapper {
        position: absolute;
        top: 0px;
        left: 0px;

        .element {
            height: 100%;
            width: 100%;

            display: flex;

            background: $element-background;
            border: $element-border;

            &:focus, &:hover {
                animation: $element-onfocus-animation;
            }
        }
    }
}