<mat-sidenav-container autosize class="example-container" style="height: -webkit-fill-available;">
  <mat-sidenav mode="side" [opened]="true" class="mat-elevation-z2">


    <div style="display: flex; height:100%; flex-direction: column">
      <div id="sidenav_fixed-top">
        <mat-nav-list style="padding-top: 0">
          <mat-list-item (click)="onTopLogoClick()">
            <button mat-icon-button style="margin: auto">
              <!-- <mat-icon svgIcon="logo-square"></mat-icon> -->
            </button>
            <a *ngIf="sidenavOpen$ | async" matLine>TITLE</a>
          </mat-list-item>
        </mat-nav-list>
      </div>
      <mat-divider></mat-divider>

      <div id="sidenav_main" data-simplebar style="height: 100%; overflow-y: auto">
        <mat-nav-list>
          <mat-list-item *ngFor="let sb of scrapbooks$ | async" [ngClass]="{selected: (currentSbId$ | async) === sb.scrapbookId}"
            (click)="onScrapbookLinkClick(sb)">
            <button mat-icon-button style="margin: auto" [matTooltip]="(sidenavOpen$ | async) ? null : (sb.scrapbookId || sb.scrapbookId)"
              matTooltipPosition="right">
              <mat-icon class="scrapbook-icon" [ngStyle]="{'color': sb.scrapbook.iconBgColor || 'black'}">brightness_1</mat-icon>
            </button>
            <a *ngIf="sidenavOpen$ | async" matLine>{{sb.scrapbook.title || 'ERR NO TITLE'}}</a>
          </mat-list-item>
        </mat-nav-list>
      </div>

      <mat-divider></mat-divider>
      <div id="sidenav_fixed-bottom">
        <mat-nav-list>
          <mat-list-item (click)="onNewScrapbookClick()">
            <a *ngIf="sidenavOpen$ | async" matLine>New</a>
            <button mat-icon-button style="margin: auto" [matTooltip]="(sidenavOpen$ | async) ? null : 'New'"
              matTooltipPosition="right">
              <mat-icon>add</mat-icon>
            </button>
          </mat-list-item>
          <mat-menu #accountMenu="matMenu" overlapTrigger="false" xPosition="after">
            <button mat-menu-item (click)="onManageAccountClick()">Manage Account</button>
            <button mat-menu-item (click)="onChangePasswordClick()">Change Password</button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="onSignOutClick()">Sign out</button>
          </mat-menu>
          <mat-list-item [matMenuTriggerFor]="accountMenu">
            <a *ngIf="sidenavOpen$ | async" matLine>{{(user$ | async)?.firebaseUser?.displayName || 'ERR! NO
              DISPLAYNAME!'}}</a>
            <button mat-icon-button style="margin: auto" [matTooltip]="(sidenavOpen$ | async) ? null : (user$ | async)?.firebaseUser?.displayName + ' | Account Options' || 'ERR! NO DISPLAYNAME!'"
              matTooltipPosition="right">
              <mat-icon>account_circle</mat-icon>
            </button>
          </mat-list-item>
          <mat-list-item (click)="toggleSidenavOpen()">
            <a *ngIf="sidenavOpen$ | async" matLine></a>
            <button mat-icon-button style="margin: auto" [matTooltip]="(sidenavOpen$ | async) ? null : 'Open Sidebar'"
              matTooltipPosition="right">
              <mat-icon>{{(sidenavOpen$ | async) ? 'chevron_left' : 'chevron_right'}}</mat-icon>
            </button>
          </mat-list-item>
          <mat-progress-bar [ngStyle]="{'visibility': (visible$ | async) ? 'visible' : 'hidden'}" [mode]="mode$ | async"></mat-progress-bar>
        </mat-nav-list>

      </div>
    </div>
  </mat-sidenav>
  <ng-content></ng-content>
</mat-sidenav-container>