.app-fadein {
    background: white;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100000000;
    opacity: 0;
    animation: opacity-fadeout 0.2s;
    user-select: none;
    pointer-events: none;
}

@keyframes opacity-fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}