<div style="display: flex; height: 100vh;">

  <mat-card style="margin: auto;">
    <mat-card-header>
      <!-- <mat-card-title>
        <h2>
          Welcome back
        </h2>
      </mat-card-title> -->
    </mat-card-header>
    <mat-card-content>
      <button mat-flat-button class="w-100" (click)="onOpenExistingClick()">Open existing</button>
      <p style="text-align: center;">or</p>
      <button mat-flat-button class="w-100" (click)="onCreateNewScrapbookClick()">Create a new scrapbook</button>
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>Open Existing</button>
      <button mat-button>Create a new </button>
    </mat-card-actions> -->
  </mat-card>

</div>