$sidenav-background: rgb(228, 228, 228);
$sidenav-text-color: rgb(37, 37, 37);

ioa-sidenav {

    .simplebar-scrollbar {
        width: 5px;
        &:before {
            background: $sidenav-text-color;
        }
    }

    .mat-drawer {
        background: $sidenav-background;
        .mat-list-item {
            font-size: 14px;
            color: $sidenav-text-color;
            .mat-list-item-content {
                padding: 0;
            }
            .mat-list-text {
                order: 2;
                padding-left: 1rem;
            }
            .mat-icon-button {
                order: 1;
            }
        }
    }

    #sidenav_main {
        background: darken($sidenav-background, 5%);

        .mat-list-item {
            &.selected {
                background: lighten($sidenav-background, 5%);
            }
        }
    }
}
