
ioa-login-panel {
    .form-buttons {
        &.left {
            margin-right: 0.5rem;
        }
        &.right {
            margin-left: 0.5rem;
        }
    }
}

.google-btn {
    background: #4285f4;
    color: white;
    &:before {
        background-color: white;
        background-image: url('/assets/img/google-g-logo.svg');
        background-size: 18px 18px;
        content: ' ';
        position: absolute;
        top: 3px;
        left: 3px;
        height: 18px;
        width: 18px;
        border: white 6px solid;
        border-radius: 2px;
    }
}