<mat-toolbar color="primary" class="mat-elevation-z12">
  <button mat-icon-button (click)="toggleSidenavOpen()">
    <mat-icon>{{( sidenavOpen$ | async ) ? 'arrow_back' : 'menu'}}</mat-icon>
  </button>
  <span>{{title$ | async}}</span>
  <!-- <button mat-button>Test 1</button> -->
  <span style="flex: 1 1 auto;"></span>

  <span>{{(user$ | async)?.displayName || 'ERR! NO DISPLAYNAME!'}}</span>
  <mat-menu #accountMenu="matMenu" overlapTrigger="false" yPosition="below">
    <button mat-menu-item>Manage Account</button>
    <button mat-menu-item (click)="onSignOutClick()">Sign out</button>
  </mat-menu>
  <button mat-icon-button aria-label="Login" [matMenuTriggerFor]="accountMenu">
    <mat-icon aria-hidden="true">account_circle</mat-icon>
  </button>

</mat-toolbar>
