<form [formGroup]="scrapbookForm" (submit)="onCreateSubmit()">
  <mat-grid-list cols="4" rowHeight="4rem">

    <mat-grid-tile colspan="4">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="title">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="4">
      <mat-form-field>
        <input matInput type="color" placeholder="Color" formControlName="iconBgColor">
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <button mat-raised-button color="secondary" type="button" (click)="onCancelClick()">Cancel</button>
  <button mat-raised-button color="primary" type="submit">Create</button>
</form>