/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@include mat-core();

$ioa-sb-app-primary: mat-palette($mat-blue-grey);
$ioa-sb-app-accent:  mat-palette($mat-pink, 500, 900, A100);
$ioa-sb-app-warn:    mat-palette($mat-deep-orange);

$ioa-sb-app-theme: mat-light-theme($ioa-sb-app-primary, $ioa-sb-app-accent, $ioa-sb-app-warn);

@include angular-material-theme($ioa-sb-app-theme);

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

@import 'simplebar/dist/simplebar.css'; // Fancy scrollbars
@import '~ngx-toastr/toastr.css'; // Fancy toast messages

@import './styles/index'; // Custom styles
