<form [formGroup]="emailPasswordForm" (submit)="onEmailPasswordFormSubmit()">
  <mat-grid-list cols="4" rowHeight="4rem">
    <mat-grid-tile colspan="4">
      <mat-form-field class="w-100">
        <input type="text" matInput placeholder="Email" formControlName="email" autocomplete="username">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="4">
      <mat-form-field style="width: 100%">
        <input type="password" matInput placeholder="Password" formControlName="password" autocomplete="current-password">
      </mat-form-field>
    </mat-grid-tile>
    <!-- <mat-grid-tile colspan="4">
      <mat-checkbox style="margin-right: auto" formControlName="rememberMe">Remember Me</mat-checkbox>
    </mat-grid-tile> -->
    <mat-grid-tile colspan="1">
      <button mat-raised-button class="w-100 form-buttons left" type="button" (click)="toggle.next()" [disabled]="pending$ | async">
        Register ...
      </button>
    </mat-grid-tile>
    <mat-grid-tile colspan="3">
      <button mat-raised-button color="primary" class="w-100 form-buttons right" type="submit" [attr.disabled]="pending$ | async">
        Sign in</button>
    </mat-grid-tile>
  </mat-grid-list>
</form>